.filter{
    position: fixed;
    top:0px;
    left:0;
   
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 99999;
    // color:#fff;
    &__content{
        position: absolute;
        top:10%;
        left:5%;
        // transform: translateY(-10%);
        padding:20px;
      
        font-weight: bold;
        transform: translate(-5%,-10%);
        background-color: #fff;
        animation: err 0.3s linear 1 ;
        // color:#111;

        display: flex;
        justify-content: center;
        align-items: center;
        .err{
            margin:0 10px;
            & > .MuiSvgIcon-root{
                color:red;
            }
        }
        h1{
            font-size:1rem;
        }
    }
}
@keyframes err{
    from {
        transform: translate(-105%,-10%);
    }
    to{
        transform: translate(-5%,-10%);
    }
}